.banner{
    object-fit: contain;
    height: 58vh;
    color: rgb(255, 255, 255);
    overflow: auto;
}
.banner__contents{
    margin-left:20px;
    width: 40%;
    padding-top: 10vh;
    font-size: 2vh;
}
.banner__button{
    border-radius: 4px;
    margin-right: 1vw;
    background-color: rgb(51, 51, 51,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px 30px;
    margin-bottom: 3px;
}
.banner__button:hover{
    background-color: rgba(19, 18, 18, 0.9);
}
.banner__description{
    height: 20vh;    
    overflow: auto;
}
.banner__description::-webkit-scrollbar{
    display: none;
}
 .banner__fade{
     height: 7.4rem;
     background-image: linear-gradient(180deg, 
     transparent,black);
 }
@media  screen and(max-width: 610px) {
    .banner__description{
        display: none;
    }   
}